<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="shortcut icon" href="mg_logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="only-once">ONLYonce</a>
      </div>
    </header>
    <main>
      <div class="container">
        <h1>Type your one time message...</h1>
        <p class="subheading">and get a link that can only reveal it once</p>
        <form action="POST" id="messageForm">
          <label for="message">Enter your message here:</label>
          <textarea
            type="text"
            name="message"
            id="messageInput"
            placeholder="My only once message is..."
            required
          ></textarea>
          <button class="button-primary" type="submit">Create Message</button>

        </form>
        <h2>Here's the link with your one time message:</h2>
        <p class="link-url"></p>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="footer-body">
          <span>by </span
          ><a href="http://mau.vision" target="_blank" rel="noopener noreferrer"
            ><img src="mg_logo.svg" alt="MG logo" class="logo"
          /></a>
        </div>
      </div>
    </footer>
    <script>
      const messageForm = document.querySelector("form");
      const messageInput = document.querySelector("#messageInput");
      const urlElement = document.querySelector(".link-url");
      const API_URL =
        window.location.hostname === "localhost"
          ? "http://localhost:3000/"
          : "https://www.only-once.com/";

      const clipboardToast = `<div class="toast">Link copied to clipboard!<div>`;
      messageForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const text = messageInput.value;
        const message = { text };
        try {
          const response = await fetch(API_URL, {
            method: "POST",
            body: JSON.stringify(message),
            headers: {
              "content-type": "application/json",
            },
          });
          let errorElement = document.querySelector('.error');
          if (errorElement != null) {
            errorElement.remove()
          }

          const onetimeURL = await response.json();
          onetimeLink = `${API_URL}${onetimeURL}`;
          urlElement.innerText = onetimeLink;
          urlElement.style.padding = '0.5rem';

          messageInput.style.pointerEvents = "none";
          messageInput.style.opacity = "0.2";
          setTimeout(() => {
            messageInput.style.pointerEvents = "all";
            messageInput.style.opacity = "1";
          }, 3000);
          handleCopyboard();
        } catch (error) {
          console.error(error);
          let errorElement = `<p class="error">Too many requests... Wait a couple minutes and comeback</p>`
          messageForm.insertAdjacentHTML('beforeend', errorElement)
          // urlElement.innerText = error;
        }
        messageInput.value = "";
      });
      urlElement.addEventListener('click', () => {
        handleCopyboard()
      })
      async function handleCopyboard() {
        let toastElement = document.querySelector(".toast");
        if (toastElement === null) {
          await navigator.clipboard.writeText(onetimeLink);
          document.body.insertAdjacentHTML("beforeend", clipboardToast);

          setTimeout(() => {
            toastElement = document.querySelector(".toast");
            toastElement.style.animation = "fadedown 300ms ease 100ms both";

            toastElement.remove()

          }, 3000);
        }
      }
    </script>
  </body>
</html>
