<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your One Time Message Is Here</title>
    <link rel="shortcut icon" href="mg_logo.svg" type="image/x-icon" />

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="only-once">ONLYonce</a>
      </div>
    </header>
    <main>
      <div class="container">
        <button class="button-primary" id="revealButton">
          Click to reveal your message
        </button>

        <div class="message-container" id="">
          <p class="message" id="message"></p>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="footer-body">
          <span>by </span
          ><a href="http://mau.vision" target="_blank" rel="noopener noreferrer"
            ><img src="mg_logo.svg" alt="MG logo" class="logo"
          /></a>
        </div>
      </div>
    </footer>
    <script>
      const revealButton = document.querySelector("#revealButton");
      const message = document.querySelector("#message");
      const API_URL =
        window.location.hostname === "localhost"
          ? `http://localhost:3000/message${window.location.pathname}`
          : `https://only-once-gooseless.up.railway.app/message${window.location.pathname}`;

      // console.log(API_URL);

      revealButton.addEventListener("click", async (e) => {
        try {
          const response = await fetch(API_URL, {
            method: "GET",
            headers: {
              "content-type": "application/json",
            },
          });
          const onetimeMessage = await response.json();
          message.innerText = onetimeMessage.text;
          revealButton.disabled = "true";
          revealButton.style.opacity = "0.6";
          revealButton.style.cursor = "not-allowed";
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
