body {
    font-family: Arial, Helvetica, sans-serif;
}
label {
    display: block;
    margin-block: 0.5rem;
}
textarea {
    display: block;
    font-size: 1rem;
    width: 100%;
    max-width: 600px;
    min-height: 100px;
    box-sizing: border-box;
    resize: vertical;
    margin-block: 0 1rem;
}
.container {
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
}