* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbe4e5;
    color: #060606;

    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
    min-height: -moz-avaiable;
    min-height: --webkit-fill-available;
    min-height: fill-available;
}
body > * {
    min-height: auto;
}
label {
    display: block;
    margin-block: 0.5rem;
}
a {
    color: #060606;
    text-decoration: none;
}
textarea {
    display: block;
    font-family: inherit;
    font-size: 1rem;
    width: 90%;
    max-width: 600px;
    min-height: 100px;
    box-sizing: border-box;
    resize: vertical;
    margin-block: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #060606;
    background: #eef2f3;
}
button {
    all: unset;
}
h2 {
    margin-top: 2rem;
}
.container {
    max-width: 900px;
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
}
.only-once {
    font-size: 2.25rem;
    font-style: italic;
    font-weight: bolder;
}

.subheading {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
.button-primary {
    background-color: #060606;
    color: #dbe4e5;
    background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(71,70,70,1) 100%);

    padding: 0.75rem 1rem;
    border: #060606 1px solid;
    border-radius: 10rem;
    cursor: pointer;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; */
}

footer {
    background: linear-gradient(0deg, #a4abacab, #dbe4e5);

}
.footer-body {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    align-items: baseline;
}
.logo {
    max-width: 40px;
    width: 100%;
}
.message-container {
    border: 2px solid #060606;
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    min-height: 5rem;
    background: #eef2f3;
}
.message {
    margin: 0;
}
.link-url {
    background-color: #060606;
    color: #dbe4e5;
    border-radius: 5rem;
    width: fit-content;
    cursor: pointer;
}
.toast {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    border-radius: 5rem;
    position: absolute;
    bottom: 2rem;
    transform: translateX(-50%);
    left: 50%;
    background-color: #060606;
    color: #dbe4e5;
    animation: fadeup 300ms ease 100ms forwards;
    opacity: 0;
    text-align: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.error {
    color: rgb(209, 24, 24);
}
@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translate(-50%, 1rem);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0rem);
    }
}
@keyframes fadedown {
    0% {
        opacity: 1;
        /* transform: translate(-50%, 0rem); */
    }
    100% {
        opacity: 0;
        /* transform: translate(-50%, 1rem); */
    }
}